# Either "DEV" or "PROD"
SetEnv APP_ENVIRONMENT "DEV"

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes
